.dropdown-container {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 3rem;
  border: 0.1rem solid;
  border-radius: 0.8rem;
  background: var(--color-background);
  font-family: 'JalnanGothic';
  @media (min-width: 767px) and (max-width: 1500px) {
    display: none;
  }
}

.dropdown-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  @media (min-width: 767px) and (max-width: 1500px) {
    display: none;
  }
}
