@use './themes.scss' as *;

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-direction: column;
}
