$btn-color-1: #fe016c;
$btn-color-2: #ffbd07;
$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #232323;
$bg-img-1: url('/image/intro-light.gif');
$bg-img-2: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('image/intro-dark.gif');
