$text-color-light: #232323;
$text-color-dark: #fff;
$bg-color-dark: #fff;
$bg-color-light: #232323;
$bg-img-dark: url('/image/intro-light.gif');
$bg-img-light: url('/image/intro-dark.gif');
$container-light: #99ccff;
$container-dark: #cccccc;
$project-container_dark: #999999;
$project-container_light: #ffffff;
$project-links-light: #999999;
$project-links-dark: #000000;
