$text-color-light: #232323;
$text-color-dark: #fff;
$bg-color-dark: #fff;
$bg-color-light: #232323;
$bg-img-dark: url('/image/intro-light.gif');
$bg-img-light: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url('image/intro-dark.gif');
$container-light: #99ccff;
$container-dark: #cccccc;
$project-container_dark: #999999;
$project-container_light: #ffffff;
